# http://editorconfig.org
# https://www.jetbrains.com/help/webstorm/configuring-code-style.html
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
tab_width = 2
insert_final_newline = true
trim_trailing_whitespace = true

# Not defined in jetbrains
quote_type = single
spaces_around_brackets = none

[*.{js,ts,tsx,svelte,cjs}]
max_line_length = 80
ij_typescript_use_double_quotes = false
ij_typescript_force_quote_style = true
ij_javascript_use_double_quotes = false
ij_javascript_force_quote_style = true

[*.{css,scss}]
ij_css_use_double_quotes = false
ij_sass_use_double_quotes = false

# [*.{json,yml,yaml}]
